---
import Layout from '@/layouts/Layout.astro';

import Countdown from '@/sections/Countdown.astro';
import Footer from '@/sections/Footer.astro';
import Hero from '@/sections/Hero.astro';
import Info from '@/sections/Info.astro';
---

<Layout title="Oscar Cortes Fotografia porfolio">
	<Hero />
	<main>
		<Countdown />
		<Info />
	</main>
	<Footer />
</Layout>
