---
import ThemeButton from '@/components/ThemeButton.astro';

import InstagramIcon from '@/icons/instagram.astro';
import XIcon from '@/icons/x.astro';
---

<footer class="mt-10 w-full border-secondary dark:border-primary border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-6 pb-20">
  <span class="text-secondary dark:text-primary text-center text-balance">
    &#169; 2024 Oscar Cortes Fotografia. Todos los derechos reservados
  </span>

  <ul class="flex flex-row gap-x-6 items-center">
    <li>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.instagram.com/oscarcortes01/"
        class="hover:scale-125 hover:opacity-70 transition inline-block"
      >
        <InstagramIcon class="text-secondary dark:text-primary"/>
      </a>
    </li>
    <li>
      <a
        target="_blank"
        rel="noopener"
        href="#"
        class="hover:scale-125 hover:opacity-70 transition inline-block"
      >
        <XIcon class="text-secondary dark:text-primary" />
      </a>
    </li>
    <li>
      <ThemeButton />
    </li>
  </ul>
</footer>