<section class="flex flex-col justify-center items-center">
  <h1 class="uppercase animate-fade-in animate-delay-300 text-primary bg-secondary px-2 py-1 font-medium dark:dark:text-secondary dark:bg-primary">
    Oscar Cortes Fotografia
  </h1>
</section>