---
---

<section class="animate-fade-in animate-delay-500 flex flex-col justify-center items-center pt-10 gap-2">
  <span class="text-secondary dark:text-primary text-center text-balance">
    Pronto estaremos plasmando aqui toda la calidad que entregamos
  </span>
  <span class="text-secondary dark:text-primary text-center text-balance ">
    Capturando los mejores momentos con la mejor calidad y pasion
  </span>
</section>